@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* LAYOUT */

body {
    background-color: #f8eecc;
    color: #747474;
    /* color: #708a9e */;
}

.layoutHeader {
    box-shadow: 0 0 10px #666;
    background-color: #ffffff;
    border-bottom: #2c3034;
    margin-bottom: 30px;
}

.layoutBody {

}

/* PANEL */

.layoutPanel {
    box-shadow: 0 0 10px #666;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.layoutPanelHeader {
    border-bottom: solid 1px #747474;
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .container.verysmall {
        max-width: 350px;
    }
    .container.small {
        max-width: 350px;
    }
    .container.large {
        max-width: 620px;
    }
}

@media (min-width: 768px) {
    .container.verysmall {
        max-width: 430px;
    }
    .container.small {
        max-width: 530px;
    }
    .container.large {
        max-width: 900px;
    }
}

@media (min-width: 992px) {
    .container.verysmall {
        max-width: 570px;
    }
    .container.small {
        max-width: 770px;
    }
    .container.large {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .container.verysmall {
        max-width: 750px;
    }
    .container.small {
        max-width: 950px;
    }
    .container.large {
        max-width: 1320px;
    }
}

@media (min-width: 1400px) {
    .container.verysmall {
        max-width: 930px;
    }
    .container.small {
        max-width: 1130px;
    }
    .container.large {
        max-width: 1500px;
    }
}

/* TABLES */

table {
    border-collapse: collapse;
    margin: 10px;
}

table td, table th {
    border: solid #7c7c7c 1px;
    padding: 5px;
}

/* FORMS */

.formContainer {
    box-shadow: 0 0 10px #666;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.formLabel {
    border-bottom: solid 1px #747474;
    margin-bottom: 40px;
}

.formContainer .col {
    margin-bottom: 15px;
}

fieldset {
    margin: 40px 20px;
    padding: 0 25px 25px;
    border: 1px solid #747474;
    /* border: 2px solid #708a9e; */
    border-radius: 8px;
    padding-top: 10px;
}

fieldset > legend {
    width: auto;
    float: left;
    margin-top: -25px;
    padding: 2px 8px;
    background-color: #f8eecc;
    font-size: 1em;
}

fieldset > legend + * {
    clear: both;
}
